
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Login/_LoginLayout.cshtml";
}

@model EPetProject.DTO.Login.CheckClinicRequest

<div class="panel-heading">Giriş Yap</div>
<div class="panel-body">
    @using (Html.BeginForm("LoginCheck", "Login", FormMethod.Post))
    {
        <p class="login-box-msg">
            <strong>
                @if (TempData["Message"] != null)
                {

                    <span class="text-danger">@TempData["Message"]</span>

                }
                else
                {
                    <span>Oturumunuza giriş yapın</span>
                }
            </strong>
        </p>

        <fieldset>
            <div class="form-group">
                @Html.TextBoxFor(p => p.Eposta, new { @class = "form-control", @type = "email", @placeholder = "E-Posta" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(p => p.Password, new { @class = "form-control", @placeholder = "Şifre" })
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Giriş Yap</button>
        </fieldset>
    }
    @using (Html.BeginForm("Register", "Login", FormMethod.Post))
    {
        <button type="submit" class="btn btn-block btn-flat">Hesabınız yok mu? Kayıt Olun</button>
    }
</div>

