@using EPetProject.DomainObjects
@{ 
    clinic user = (clinic)Session[EPetProject.Models.SessionKeyManager.LoginKey];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="~/Content/ic_appicon_round.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Pet Hayvan Sağlık Sistemi</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/datepicker3.css" rel="stylesheet">
    <link href="~/Content/css/styles.css" rel="stylesheet">

    <!--Icons-->
    <script src="~/Content/js/lumino.glyphs.js"></script>

    <!--[if lt IE 9]>
    <script src="~/Content/js/html5shiv.js"></script>
    <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-top:-15px;">
        <div class="container-fluid">
            <form role="search">
                <div class="form-group">
                    
                </div>
            </form>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/logoepet.png" width="60" style="margin-left:50px">
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> @user.ClinicName <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Login/Logout"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
            @{
                if (user.Verify == 2)
                {
                    <li><a href="/Admin/Index"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Onay Ekranı</a></li>
                    <li><a href="/Admin/Log"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Log Geçmişi</a></li>
                }
            }
            <li class="parent ">
                <a href="#">
                    <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg>İşlemler</span>
                </a>
                <ul class="children collapse" id="sub-item-1">
                    <li>
                        <a class="" href="/Treatment/Index">
                            <svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper" /></svg>Yapılan İşlemler
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Treatment/Add">
                            <svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign" /></svg>İşlem Ekle
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Treatment/Search">
                            <svg class="glyph stroked eye"><use xlink:href="#stroked-eye" /></svg>İşlem Ara
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        @RenderBody()

        
    </div>	<!--/.main-->

    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/chart.min.js"></script>
    <script src="~/Content/js/chart-data.js"></script>
    <script src="~/Content/js/easypiechart.js"></script>
    <script src="~/Content/js/easypiechart-data.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.js"></script>
    <script>
        $('#calendar').datepicker({
        });

        !function ($) {
            $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
                $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);

        $(window).on('resize', function () {
            if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>
</body>

</html>
